body {
    background-image: url(../images/subtle_zebra_3d/subtle_zebra_3d_@2X.png);
    background-repeat: repeat;
}

h1 {
    font-family: 'Fascinate';
    font-size: 45pt;
    color: black;
    text-align: center;
    background-color: #D3171E;
    border: solid 5px #23A990;
    border-radius: 10px;
}

h2 {
    font-family: 'Fascinate';
    font-size: 35pt;
    text-align: center;
    color: black;
    background-color: #D3171E;
    border: solid 5px #23A990;
    border-radius: 10px;
}

#questionmark {
    display: block;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
}

#gameArea {
    background-color: skyblue;
    height: 500px;
}

#beginButton {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
    width: 300px;
    background-color: #D3171E;
    border: solid 5px #23A990;
    border-radius: 10px;
}

h3 {
    font-family: 'Monofett', cursive;
    font-size: 30pt;
    color: black;
}

h4 {
    font-family: 'Monofett', cursive;
    font-size: 30pt;
    color: black;
}

.option {
    display: inline-block;
    position: relative;
    max-width: 475px;
    background-color: #D3171E;
    border: solid 5px #23A990;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-family: 'Fascinate';
    font-size: 20pt;
    color: black;
}

.answerHead {
    font-family: 'Monofett', cursive;
    font-size: 35pt;
    color: black;
}



/* #hour-glass {
    position: relative;
    width: 60px;
    height: 120px;
    overflow: visible;
    display: table;
  }
  
  #glass {
    position: absolute;
    width: 0; height: 0;
    border-top: solid #c0c0c0 120px;
    border-left: solid transparent 60px;
    border-right: solid transparent 60px;
    border-radius: 30px;
  }
  
  #glass::after {
    content: "";
    position: absolute;
    left: -60px; bottom: -120px;
    border-bottom: solid #c0c0c0 120px;
    border-left: solid transparent 60px;
    border-right: solid transparent 60px;
    border-radius: 30px;
  }
  
  #glass::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: -10px; left: -6px;
    width: 12px; height: 20px;
    background-color: #303030;
    border-radius: 30px;
  }
  
  #top-sand {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: solid #422608 3px;
    border-left: solid transparent 2px;
    border-right: solid transparent 2px;
    border-radius: 30px;
    right: -2px;
    margin-left: auto; margin-right: auto;
    position: absolute; bottom: 0;
    animation: drain 20s ease-in;
  }  
  
  #bottom-sand {
    position: absolute;
    bottom: -120px;
    border-bottom: solid #422608 100px;
    border-left: solid transparent 48px;
    border-right: solid transparent 48px;
    border-radius: 30px;
    right: -48px;
    animation: fill 20s ease-out;
  }
  
  #sand-stream {
    position: absolute;
    width: 0px; height: 118px;
    left: 59px; top: 120px;
    border-left: dotted #422608 3px;
    opacity: 0;
    animation: shift 0.1s linear infinite, disappear 20s linear 1;
  }
  
  @keyframes disappear {
    0% {
      display: block;
      opacity: 0.9;
    }
    99% {
      display: block;
      opacity: 0.9;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }
  
  @keyframes shift {
    0% {
      top: 120px;
    }
    100% {
      top: 123px;
      height: 116px;
    }
  }
  
  @keyframes fill {
    0% { 
      border-bottom: solid #422608 2px;
      border-left: solid transparent 2px;
      border-right: solid transparent 2px;
      border-radius: 30px;
      right: -2px;
    }
    100% {
      border-bottom: solid #422608 100px;
      border-left: solid transparent 48px;
      border-right: solid transparent 48px;
      border-radius: 30px;
      right: -48px;
    }
  }
  
  @keyframes drain {
    0% { 
      border-top: solid #422608 100px;
      border-left: solid transparent 48px;
      border-right: solid transparent 48px;
      border-radius: 30px;
      right: -48px;
    }
    100% {
      border-top: solid #422608 3px;
      border-left: solid transparent 2px;
      border-right: solid transparent 2px;
      border-radius: 30px;
      right: -2px;
    }
  } */